.profile {
  border-radius: 2%;
  margin: 50px auto;
  background-color: white;
  width: 240px;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  gap: 10px;
}

.avatar {
  border-radius: 50%;
  width: 70px;
  margin-bottom: 10px;
}

p {
  margin: 0;
}

.name {
  font-weight: bold;
  font-size: 20px;
}

.tag,
.location {
  color: #5a6a78;
  font-size: 13px;
}

.stats {
  display: flex;
  align-items: center;
  list-style: none;
  background-color: #edf0f2;
  padding: 16px 0;
  margin: 0;
  font-size: 11px;
  justify-content: space-around;
}

.stats li {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.label {
  color: #5a6a78;
}

.quantity {
  font-weight: bold;
}
